<?php

$cfg['sbapi_iid'] = '1';
$cfg['sbapi_url'] = 'https://api.example.com';

$cfg['libreoffice_path'] = 'C:\Program Files\LibreOffice\program\soffice.exe';

$cfg['admin_login'] = 'mm.admin';
$cfg['admin_password'] = 'mm.admin';

return $cfg;
